/* mobile first style, min 320px */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Handlee&family=Merienda+One&family=Raleway&display=swap');

h1 {
    color: #FF637E;
    text-shadow: 2px 1px 0px #000000;
    font-size: 2.5em;
    margin-top: .25em;
}

#pitch-header {
    margin-top: -1em;
}

h3 {
    font-size: 1em;
    color: #B00000;
}

#tagline1 {
    margin-left: 1.10em;
    margin-right: 1.10em;
    margin-top: -.50em;
}

#tagline2, #tagline3, #landing1, #landing2, #landing3 {
    margin-left: .50em;
    margin-right: .50em; 
    margin-top: -.10em;
}

.LandingPage {
    text-align: center;
}

.Description_Intro, .Description_Functional, .Description_Final {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-size: 1rem;
    height: 200px;
    width: 250px;
    border: 1px solid black;
    border-radius: 1.5em;
    background-color: rgb(255, 255, 255, .85);
    box-shadow: inset -3px -3px 5px 0px #949393;
}

.Description_Intro > img, .Description_Functional > img, .Description_Final > img {
    position: relative;
    right: 7em;
    top: .25em;
    animation: rotation 3.5s infinite linear;
    margin: -1em;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
} 

@media only screen and (min-device-width: 414px) {
    h1 {
        font-size: 3.5em;
    }
    
    h3 {
        font-size: 1.10em;
    }
    
    .Description_Intro, .Description_Functional, .Description_Final {
        height: 200px;
        width: 300px;
        margin-bottom: 1.5em;
    }

    .Description_Intro > img, .Description_Functional > img, .Description_Final > img {
        right: 8.5em;
    }

    #pitch-header {
        font-size: 2em;
    }

    #tagline1, #tagline2, #tagline3 {
        margin-top: -.50em;
    }
    
    #tagline1 {
        margin-left: 2em;
        margin-right: 2em;
    }

    #landing1, #landing2, #landing3 {
        font-size: 1.05em;
    }
}

@media only screen and (min-device-width: 768px) {
    .Description_Intro, .Description_Functional, .Description_Final {
        width: 400px;
    }

    .Description_Intro > img, .Description_Functional > img, .Description_Final > img {
        right: 12em;
    }

    #tagline1, #tagline2, #tagline3 {
        font-size: 1.30em;
    }

    #landing1, #landing2, #landing3 {
        font-size: 1.20em;
    }
}

@media only screen and (min-device-width: 1000px) {
    h1 {
        font-size: 4em;
    }

    #pitch-header {
        font-size: 2.5em;
    }
    
    .Description_Intro, .Description_Functional, .Description_Final {
        width: 500px;
    }

    .Description_Intro > img, .Description_Functional > img, .Description_Final > img  {
        right: 15em;
    }

    #tagline1, #tagline2, #tagline3 {
        font-size: 1.5em;
    }
    
    #landing1, #landing2, #landing3 {
        font-size: 1.25em;
    }
}

@media only screen and (min-device-width: 1700px) {
    h1 {
        font-size: 4.5em;
    }
    
    .Description_Intro, .Description_Functional, .Description_Final {
        width: 700px;
        height: 250px;
        margin-bottom: 2.5em;
    }

    .Description_Intro > img, .Description_Functional > img, .Description_Final > img  {
        top: -.25em;
        right: 21em;
    }

    #tagline1, #tagline2, #tagline3 {
        margin-top: -1em;
        font-size: 1.75em;
    }
    
    #landing1, #landing2, #landing3 {
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1.5em;
    }
}