* {
    text-align: center;
    box-sizing: border-box;
}

.Description_Intro, .Description_Functional, .Description_Final {
    padding: 3em;
    min-height: 200px;
}

div:nth-of-type(even) {
    background-color: #bbbbbb;
}

p {
    margin-left: 3em;
    margin-right: 3em;
}