/* mobile first styles, min 320px - max 414px */

#garden-header {
    text-align: center;
}

#garden-header {
    font-size: 1.90em;
}

ul {
    margin-left: auto;
    margin-right: auto;
    padding-left: .25em;
}

li {
    text-align: center;
    list-style-type: none; 
    background-color: rgb(255,173,187, .90);
    box-shadow: inset -11px -5px 5px 0px #A8739B;
    border-radius: 1px transparent white;
    border-radius: 20em; 
}

#welcome {
    text-align: center;
    border: 1px solid black;
    background-color: rgb(203, 211, 167, .90);
    box-shadow: inset -4px 0px 5px 2px #6E7C51; 
    border-radius: 2em;
    font-size: .90em;
    margin-top: -1em;
    margin-bottom: 1.5em;
    padding: .5em;
}

@media only screen and (min-device-width: 414px) { 
    #edit-header {
        font-size: 2em;
    }
    
    #garden-header {
        font-size: 2.5em;
        margin-top: .50em;
    }

    #welcome {
        font-size: 1em;
        padding: .75em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

/* desktop and tablet styles. query order is descending from larger desktops - tablets due to max-width constraints */

@media only screen and (min-device-width: 1700px) and (max-width: 2200px) {
    ul {
        margin-left: 25em;
        margin-right: 25em;
    }

    #garden-header {
        font-size: 3.5em;
    }

    #welcome {
        font-size: 1.75em;
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media only screen and (min-device-width: 1200px) and (max-width: 1699px) {
    ul {
        margin-left: 10em;
        margin-right: 10em;
    }

    #garden-header {
        font-size: 3.25em;
    }

    #welcome {
        font-size: 1.5em;
        margin-left: 7.5em;
        margin-right: 7.5em;
    }
} 

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
    ul {
        margin-left: 3em;
        margin-right: 3em;
    }

    #garden-header {
        font-size: 3em;
        margin-bottom: .50em;
    }

    #welcome {
        font-size: 1.25em;
        padding: 1.5em;
        margin-top: .5em;
        margin-left: 5em;
        margin-right: 5em;
    }
}