/* mobile first style, min 320px */
.PlantRose {
    box-sizing: border-box;
}

.PlantRoseForm {
    text-align: center;
}

.Date_Entry, .Thorn_Entry, .Rose_Color, .Rose_Entry, .Bud_Entry {
    box-shadow: 0px 1px 5px 2px #6E7C51; 
    border-radius: 2em;
    margin: 1em;
    padding-top: .50em;
    background-color: rgb(203, 211, 167, .90);
}

#plant-title {
    text-align: center;
    margin-bottom: -.15em;
}

#date-entry-header, #plant-color-header, #plant-header-rose, #plant-header-bud, #plant-header-thorn {
    color: #6B1A1A;
    font-weight: bold;
    font-size: 1.5em;
}

#entry-date {
    font-size: 1em;
    width: 65%;
    padding: .30em;
    border-radius: 1em;
    margin-bottom: 1em;
    background-color: white;
    transition: border .3s ease-out; 
}

#date-entry-header {
    word-spacing: -.15em;
    margin-top: 0;
    margin-bottom: .30em;
}

#rose-prompt, #thorn-prompt, #bud-prompt, #color-prompt {
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1em;
    margin-bottom: .50em;
}

#colors {
    display: inline-block;
    font-size: 1em;
    width: 70%;
    padding: .30em;
    border-radius: 2em;
    background-color: white;
}

textarea {
    font-size: 1.10em;
    border-radius: .5em;
    height: 10em;
    width: 90%;
    margin-bottom: 1em;
    resize: none;
    transition: border .3s ease-out; 
}

textarea:focus, #colors:focus, input[type="date"]:focus {
    border: 10px solid #B00000;
    border-style: none none none solid;
    background-color: white;
}

#rose-icon, #thorn-icon, #bud-icon, #color-icon {
    margin-bottom: -.40em;
}

#submit-rose, #cancel-plant {
    display: inline-block;
    padding: .5em;
    margin-right: 1em;
    margin-bottom: .75em;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 2em;
    box-sizing: border-box;
    margin-top: 1em;
    background-color: #C34444;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    text-shadow: 0 .65px 0.65px rgb(0,0,0,0.35);
}

#submit-rose:hover, #cancel-plant:hover {
    cursor: pointer;
    border-color: rgb(255,255,255, 1);
}

#submit-rose:active, #cancel-plant:hover {
    background-color: #8F0000;
}

@media only screen and (min-device-width: 375px) {
    #entry-date {
        width: 55%;
    }
}

@media only screen and (min-device-width: 414px) {
    .Date_Entry, .Thorn_Entry, .Rose_Color, .Rose_Entry, .Bud_Entry {
        margin: 1.5em;
    }
    
    #date-entry-header, #plant-color-header, #plant-header-rose, #plant-header-bud, #plant-header-thorn {
        font-size: 1.75em;
    }

    textarea, #entry-date, #rose-prompt, #thorn-prompt, #bud-prompt, #color-prompt, #submit-rose, #cancel-plant, #colors {
        font-size: 1.20em;
    }

    #plant-title {
        font-size: 3em;
    }
}

@media only screen and (min-device-width: 768px) {
    .Date_Entry, .Thorn_Entry, .Rose_Color, .Rose_Entry, .Bud_Entry {
        margin-left: 7.5em;
        margin-right: 7.5em;
    }

    #submit-rose, #cancel-plant {
        margin-left: -.50em;
        margin-right: 1.5em;
    }
}

@media only screen and (min-device-width: 1000px) {
    .Date_Entry, .Thorn_Entry, .Rose_Color, .Rose_Entry, .Bud_Entry {
        margin-left: 15em;
        margin-right: 15em;
    }
    
    #entry-date {
        width: 40%;
    }

    #submit-rose, #cancel-plant {
        margin-left: .10em;
    }

    #plant-title {
        font-size: 3.5em;
    }

    #date-entry-header, #plant-color-header, #plant-header-rose, #plant-header-bud, #plant-header-thorn {
        font-size: 2.5em;
    }

    textarea, #date-entry, #rose-prompt, #thorn-prompt, #bud-prompt, #color-prompt, #submit-rose, #cancel-plant, #colors {
        font-size: 1.5em;
    }
}

@media only screen and (min-device-width: 1200px) {
    .Date_Entry, .Thorn_Entry, .Rose_Color, .Rose_Entry, .Bud_Entry {
        margin-left: 20em;
        margin-right: 20em;
    }
}

@media only screen and (min-device-width: 1700px) {
    textarea {
        width: 95%;
    }
    
    .Date_Entry, .Thorn_Entry, .Rose_Color, .Rose_Entry, .Bud_Entry {
        margin-left: 30em;
        margin-right: 30em;
    }

    #plant-title {
        margin-bottom: .50em;
    }

    #entry-date {
        width: 35%;
    }
}

@media only screen and (min-device-width: 2000px) {
    .Date_Entry, .Thorn_Entry, .Rose_Color, .Rose_Entry, .Bud_Entry {
        margin-left: 35em;
        margin-right: 35em;
    }

    #entry-date {
        width: 30%;
    }

    #colors {
        width: 50%;
    }
}