.PlantRose {
    text-align: center; 
    padding: 1em;
}

.Rose_Entry, .Bud_Entry {
    background-color: #bbbbbb;
}

#entry-date {
    text-align: center;
    margin-left: 5em; 
    margin-right: 5em;
}

textarea {
    min-width: 300px;
    margin: .5em;
}

#submit-rose, #start-over {
    margin: .5em;
    margin-top: 2em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}