/* mobile first styles, min 320px - max 414px */

.Rose_Expanded {
    margin-top: .25em;
}

.Rose_Image_Entry > img {
    position: relative;
    top: 1.5em;
    left: 1.5em;
    animation: rotation 3.5s infinite linear;
    margin: -2em;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media only screen and (min-device-width: 375px) {
    .Rose_Expanded {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .Rose_Image_Entry > img {
        top: 1.75em;
    }
}

@media only screen and (min-device-width: 414px) {
    .Rose_Image_Entry > img {
        top: 2.50em;
    }
}

/* desktop and tablet styles */

@media only screen and (min-width: 768px) {
    .Rose_Image_Entry > img {
        top: 4.5em;
        left: 5em;
    }
}

@media only screen and (min-width: 1000px) {
    .Rose_Image_Entry > img[style] {
        top: 4.25em;
        left: 8.5em;
        width: 10% !important;
    }

    .Rose_Main {
        margin-top: 20em;
    }
}

@media only screen and (min-width: 1200px) {
    .Rose_Image_Entry > img[style] {
        top: 4.5em !important;
        left: 14em !important;
    }
}

@media only screen and (min-width: 1800px) {
    .Rose_Image_Entry > img[style] {
        top: 5em !important;
        left: 27.5em !important;
        width: 7% !important;
    }
}
