/* Mobile styles first, 320px */

/* img:hover {s
    cursor: pointer;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
} */ 