/* mobile first, min 320px */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Handlee&family=Merienda+One&family=Raleway&display=swap');

.App {
    padding: 1em;
    overflow: auto;
}

h1, h3 {
    font-family: 'Merienda One';
}

h2 {
    color: #3B0000;
    font-family: 'Didact Gothic';
}

p, label, nav, input[type="date"], select {
    font-family: 'Raleway';
}

a {
    text-decoration: none;
}

footer {
    font-size: .5em;
    background-color: wheat;
}

@media only screen and (min-device-width: 768px) {
    .App {
        padding: 2em;
    }
}
